.page {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.chosen-car__features {
  display: flex;
}

.cars__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.cars__item {

}

a {
  text-decoration: none;
  color: black;
}

.car {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.car--sport {
  background-color: green;
}
.car--military {
  background-color: red;
}
.car--civil {
  background-color: blue;
}

.opponents {
  display: flex;
  flex-wrap: wrap;
}

.opponent-car {
  border: 2px solid black;
}

.features__list {
padding: 0 40px 0;
}

.features__item {
  display: flex;
  position: relative;
 margin-bottom: 5px;
}

.features__name {
  margin: 0;
}


.plus {
  position: absolute;
  right: -30px;
  width:20px;
  height:20px;
  
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    #000;
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}